<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<th:block th:fragment="header">
    <header class="logical_block">
        <div class="nav_icon"><img src="/img/header/hamburger.png"></div>
        <div class="nav_icon">
           <a href="/filter/page"><img src="/img/header/search.png"></a>
        </div>
        <div class="phat_logo">
            <a href="/"><img src="/img/logos/header_logo.jpg"></a>
        </div>

<!--        блок для ссылки на админку и корзины юзера-->
        <th:block>
            <div th:class="nav_icon">
                <a href="/admin" sec:authorize="hasRole('ADMIN')">
                    <img src="/img/header/admin.png">
                </a>
                <a href="/manager" sec:authorize="hasRole('EMPLOYEE')">
                    <img src="/img/header/admin.png">
                </a>
                <a href="/cart" sec:authorize="hasRole('USER')">
                    <img src="/img/header/cart.png">
                </a>
            </div>
        </th:block>

<!--        блок аутентификации / профиля-->
        <th:block>
            <div th:class="nav_icon">
                <a href="/login" sec:authorize="isAnonymous()">
                    <img src="/img/header/lock.png">
                </a>
                <a href="/profile" sec:authorize="isAuthenticated()">
                    <img src="/img/header/admin.png">
                </a>
            </div>
        </th:block>
    </header>
</th:block>

</body>
</html>