<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="itemLayout(items)">
    <div class="shop">
        <div class="categories">
            <th:block th:each="item: ${items}">
                <a th:href="@{'/item?itemId=' + ${item.id}}">
                    <div class="category">
                        <div class="category_img">
                            <img th:src="@{'/img/shop/' + ${item.brand.name + '/'} + ${item.model} + '.jpeg'}">
                        </div>
                        <div class="category_caption">
                            [[${item.model}]]
                        </div>
                    </div>
                </a>
            </th:block>
        </div>
        <div class="brands"></div>
    </div>
</th:block>
</body>
</html>